body{
	font-family: "Myriad Pro",Verdana, sans-serif;
	margin-top:5px;
	font-size:14px;
}	
#contentarea p, li
{
	margin-bottom:0px;
	font-size:14px;
}
#contentarea a img{ border:0; }

.custombullets li{
	list-style-position:inherit;
	text-indent:5px;
	vertical-align:middle;
	list-style-image:url(../images/tick.png);	
	height:20px;			
}
.heading
{
	font-weight:bold;
	color:#000836;
	font-size:24px;
}
